#login-page {
    width: 100%;
    height: 75vh;
    padding-top: 25vh;
    background-color: #F9FAFB;
}

#login-page .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

#login-page .header .logo img {
    height: 4vw
}

#login-page .header .title h1 {
    font-size: 1.6vw;
    text-align: center;
    margin: 0.5vw;
}

#login-page .header .title p {
    font-size: 0.7vw;
    font-weight: 500;
    margin: 0;
    text-align: center;
}

#login-page .header .title p .register {
    color: #0EA8EA;
}

#login-page .header .title p .register:hover {
    cursor: pointer;
    border-bottom: 2px solid #0EA8EA;
}

#login-page .body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-page .body .input-group {
    display: flex;
    margin-top: 2%;
    flex-direction: column;
    width: 25%;
}

#login-page .body .input-group input {
    border: none;
    border-radius: 5px;
    padding: 3%;
    background-color: #f1f1f1;
}

#login-page .body .input-group input::placeholder {
    font-size: 0.8vw;
}

#login-page .body .input-group label {
    margin: 1%;
    margin-bottom: 2%;
    font-size: 1vw;
    font-weight: 570;
}

#login-page .body .input-group .password-input {
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

#login-page .body .input-group .password-input input {
    width: 85%;
}

#login-page .body .input-group .password-input input:-internal-autofill-selected {
    background-color: red !important;
    outline: none;
}

#login-page .body .input-group .password-input button {
    width: 10%;
    background-color: transparent;
    border: none;
}

#login-page .footer {
    margin-top: 1vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-page .footer .password-setting {
    display: flex;
    width: 35%;
    justify-content: space-around;
}

#login-page .footer .password-setting .remember {
    width: auto;
    display: flex;
    align-items: center;
    font-size: 0.7vw;
    font-weight: 500;
    text-align: center;
}

#login-page .footer .password-setting .forgot {
    color: #0EA8EA;
    cursor: pointer;
    font-size: 0.7vw;
}

#login-page .footer .password-setting .forgot:hover {
    border-bottom: #0EA8EA solid 2px;
}

#login-page .footer .submit-button {
    margin-top: 2vw;
    padding: 0.4vw;
    width: 20%;
    border: none;
    border-radius: 40px;
    background-color: #415AFA;
    font-weight: 500;
    font-size: 0.9vw;
    color: #FFFFFF;
    cursor: pointer;
    transition: width 0.3s ease-in-out;
}

#login-page .footer .submit-button:hover {
    width: 25%;
}
