.user-page {
    position: relative;
    overflow-y: auto;
    height: 100vh;
}

.user-page::-webkit-scrollbar {
    display: none;
}

.user-page .background-image {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../../uploads/register-bg2.jpg');
    background-size: cover;
    background-position: center top;
    z-index: -1;
}

.user-page .user {
    position: relative;
    z-index: 1;
    margin-top: 15vh;
    display: flex;
    flex-direction: row;
}

.user-page .user .user-info {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1); /* transparent antiquewhite */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* for Safari */
    width: 30%;
    margin: 2.5%;
    padding: 2.5%;
    border-radius: 10px; /* optional: smooth edges */
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* optional: nice shadow */
}

.user-page .user .user-post {
    background-color: antiquewhite;
    width: 50%;
    margin: 2.5%;
    padding: 2.5%;
}

.user-page .user .user-info .detail .header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-page .user .user-info .detail .header .avatar {
    width: 10%;
}

.user-page .user .user-info .detail .header .avatar img{
    width: 3vw;
    height: 3vw;
}

.user-page .user .user-info .detail .header .name {
    width: 55%;
    font-weight: bold;
    font-size: 1.1em;
    margin-left: 5%;
}

.user-page .user .user-info .detail .header .setting {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.user-page .user .user-info .detail .header .setting button {
    font-size: 1.7em;
    width: 40%;
    padding: 2.5%;
    margin: 2.5%;
    background-color: transparent;
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.user-page .user .user-info .detail .header .setting button:hover {
    
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.user-page .user .user-info .detail .body {
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
}

.user-page .user .user-info .detail .body .title{
    width: 40%;
}

.user-page .user .user-info .detail .body .content{
    width: 60%;
}