.error-box-overlap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(8px);
    z-index: 9999;
    display: flex;
    justify-content: center;
}

.error-box-overlap .error-box {
    position: fixed;
    width: 25vw;
    padding: 2.5vw;
    height: auto;
    margin-top: 30vh;
    border-radius: 20px;
    margin-left: 35vw;
    margin-right: 35vw;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.error-box-overlap .error-box .icon{
    margin-bottom: 2vw;
    width: 4vw;
    height: auto;
}

@media screen and (max-width: 768px) {
  .error-box-overlap .error-box {
    width: 80vw;
    padding: 6vw;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20vh;
    border-radius: 12px;
  }

  .error-box-overlap .error-box .icon {
    margin-bottom: 5vw;
    width: 10vw;
  }
}

