.patient-nav-bar {
  height: 10vh;
  position: fixed;
  z-index: 9999;
  font-size: 1.4em;
  top: 0;
  left: 0;
  width: 100%;
  align-items: center;
  background-color: transparent;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.patient-nav-bar .logo {
  border-radius: 8vh;
  overflow: hidden;
  height: 8vh;
}

.patient-nav-bar .logo img {
  height: 100%;
}

.patient-nav-bar .logo a {
  padding: 0;
}

.patient-nav-bar .main-navigate {
  width: 40%;
}

.patient-nav-bar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  width: 100%;
  margin: 0px;
  padding: 0;
}

.patient-nav-bar li {
  border-radius: 100px;
  margin: 2%;
  width: 16%;
  padding: 2%;
  color: rgb(255, 255, 255);
  text-align: center;
  transition: background-color 0.4s ease, padding 0.4s ease;
}

.patient-nav-bar li a {
  padding: 30%;
  transition: color 0.4s ease;
  color: inherit;
}

.patient-nav-bar li:hover {
  padding-left: 2%;
  padding-right: 2%;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.patient-nav-bar a {
  padding: 30px 30px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.patient-nav-bar .user-login .avatar img {
  width: 3vw;
  height: 3vw;
  overflow: hidden;
  border-radius: 50%;
}

