.treatment-box .title {
    width: 96%;
    padding: 1%;
    margin: 1%;
    border-bottom: #767676 solid 2px;
    font-size: 0.9vw;
    color: #767676;
    font-weight: 550;
}

.treatment-box .patient-list {
    width: 100%;
    margin-top: 2%;
    height: 25vh;
    overflow-y: auto;
    overflow-x: hidden;  
}

.treatment-box .patient-list::-webkit-scrollbar {
    width: 8px;
}

.treatment-box .patient-list::-webkit-scrollbar-thumb {
    background-color: #b4c1ff;
    border-radius: 4px;
}

.treatment-box .patient-list::-webkit-scrollbar-track {
    background-color: #f0f0f0;
    border-radius: 4px;
}

.treatment-box .patient-list .appointment-later {
    display: flex;
    flex-direction: row;
    font-size: 0.9vw;
    padding: 0.9vw;
    padding-left: 0.7vw;
    padding-right: 0.4vw;
    border-radius: 40px;
    background-color: rgb(255, 255, 255);
    margin-top: 3%;
    margin-bottom: 3%;
}

.treatment-box .patient-list .appointment-later div {
    display: flex;
    align-items: center;
    width: 100%;
}

.treatment-box .patient-list .appointment-later .name {
    font-size: 0.8vw;
    width: 20%;
    font-weight: 550;
}

.treatment-box .patient-list .appointment-later .date {
    width: 15%;
}

.treatment-box .patient-list .appointment-later .time {
    width: 15%;
}

.treatment-box .patient-list .appointment-later .location {
    width: 17.5%;
}

.treatment-box .patient-list .appointment-later .queue-number {
    width: 15%;
}

.treatment-box .patient-list .appointment-later .patient-detail {
    width: 17.5%;
}

.treatment-box .patient-list .appointment-later .patient-detail button {
    width: 90%;
    border: none;
    border-radius: 20px;
    background-color: #4A67F3;
    color: rgb(255, 255, 255);
    font-size: 0.8vw;
    cursor: pointer;
    padding: 0.2vw;
    transition: all 0.1s ease-in-out;
}

.treatment-box .patient-list .appointment-later .patient-detail button:hover {
    background-color: #3348ad;
}

.treatment-box .test-result {
    background-color: rgb(255, 255, 255);
    padding: 2vw;
    border-radius: 10px;
    margin-top: 1vw;
}

.treatment-box .test-result .patient-profile-info-box > .treatment-plan-info-box {
    padding:  0 !important;
}

.treatment-box .test-result .patient-profile-info-box > .treatment-plan-info-box .treatment-general-info {
    display: none;
}

.treatment-box .test-result .patient-profile-info-box > .treatment-plan-info-box .pill-table {
    width: 100%;
}

.treatment-box .treatment-form {
    background-color: rgb(255, 255, 255);
    padding: 2vw;
    border-radius: 10px;
    margin-top: 1vw;
}

.treatment-box .treatment-form .header {
    display: flex !important;
    padding: 0 !important;
    align-items: center !important;
}

.treatment-box .treatment-form .header .regimen label {
    margin-right: 1vw;
    font-size: 0.9vw;
    font-weight: 550;
}

.treatment-box .treatment-form .header .regimen select {
    border: none;
    padding: 0.5vw;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    box-shadow: none;
    font-size: 0.9vw;
    background-color: rgb(209, 209, 209);
}

.treatment-box .treatment-form .header .regimen option {
    border: none;
    cursor: pointer;
    background-color: #d7d7d7;
    font-size: 0.9vw;
    font-weight: 450;
}

.treatment-box .treatment-form .header .customize-toggle {
    display: flex;
    align-items: center;
    font-size: 0.9vw;
    font-weight: 550;
}

.treatment-box .treatment-form .body {
    display: flex;
    flex-direction: column !important;
}

.treatment-box .treatment-form .body .regimen-detail div {
    margin: 2%;
    margin-bottom: 3%;
}

.treatment-box .treatment-form .body .regimen-detail div .title {
    width: 80%;
    margin-bottom: 0 !important;
}

.treatment-box .treatment-form .body .regimen-detail div .detail {
    font-size: 1vw;
}

.treatment-box .treatment-form .body .patient-group {
    margin: 2%;
}

.treatment-box .treatment-form .body .patient-group .title {
    border: none;
    font-size: 0.9vw;
    font-weight: 550;
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    margin-bottom: 2%;
}

.treatment-box .treatment-form .body .patient-group .detail {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 2%;
}

.treatment-box .treatment-form .body .patient-group .detail select {
    font-size: 1vw;
    border: 1.9px dashed rgb(0, 0, 0);
    font-size: 1vw;
    background-color: transparent;
    padding: 1vw;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.1s ease-in-out;
}

.treatment-box .treatment-form .body .customized-fields {
    margin-top: 2vw;
}

.treatment-box .treatment-form .body .customized-fields .title {
    border: none;
    padding: 0;
    font-size: 1.1vw;
    margin: 0;
    margin-bottom: 1vw;
    color: rgb(0, 0, 0);
}

.treatment-box .treatment-form .body .customized-fields .input-group {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    margin: 1%;
    padding: 2%;
    font-size: 1vw;
    margin-bottom: 4%;
    margin-top: 4%;
    border-radius: 10px;
}

.treatment-box .treatment-form .body .customized-fields .input-group label {
    margin: 1vw;
}

.treatment-box .treatment-form .body .customized-fields .input-group input {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 1vw;
    border-radius: 5px;
    border: #000000 dashed 2px;
}

.treatment-box .treatment-form .body .customized-fields .input-group .medication-list {
    margin-left: 2%;
    display: flex;
    flex-wrap: wrap;
}

.treatment-box .treatment-form .body .customized-fields .input-group .medication-list button {
    width: fit-content;
    margin: 1%;
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    font-weight: 550;
    background-color: #82ff9b;
    display: flex;
    align-items: center;
    font-size: 1vw;
    transition: all 0.1s ease-in-out;
}

.treatment-box .treatment-form .body .customized-fields .input-group .medication-list button:hover {
    background-color: rgb(21, 255, 68);
}

.treatment-box .treatment-form .body .customized-fields .input-group .medication-list button .icon {
    margin-right: 0.5vw;
}

.treatment-box .treatment-form .body .customized-fields .input-group .selected-meds-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 1%;
}

.treatment-box .treatment-form .body .customized-fields .input-group .selected-meds-list button{
    background-color: rgb(103, 141, 169);
    padding: 0.3vw;
    color: white;
    margin: 1%;
    border-radius: 40px;
    font-size: 1vw;
    width: 20%;
    cursor: pointer;
    border: none;
}

.treatment-box .treatment-form .body .customized-fields .input-group .selected-meds-list button:hover {
    background-color: #3348ad;
}

.treatment-box .treatment-form .body .customized-fields .input-group .medication-title {
    margin: 2%;
    font-size: 0.8vw;
}

.treatment-box .treatment-form .body .customized-fields .input-group .med-dosage-input {
    margin: 2%;
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
}

.treatment-box .treatment-form .body .customized-fields .input-group .med-dosage-input input {
    width: 45%;
}

.treatment-box .treatment-form .body .customized-fields .input-group .med-dosage-input span {
    width: 25%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.treatment-box .treatment-form .body .pill-remind {
    margin: 2%;
}

.treatment-box .treatment-form .body .pill-remind .header {
    font-size: 0.9vw;
    font-weight: 550;
}

.treatment-box .treatment-form .body .pill-remind .pill {
    display: flex;
    flex-direction: column;
    margin: 1%;
    background-color: #f2f2f2;
    padding: 2%;
    border-radius: 10px;
    
}

.treatment-box .treatment-form .body .pill-remind .pill .pill-name div {
    width: 100%;
    font-size: 1vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.treatment-box .treatment-form .body .pill-remind .pill .pill-name .pill-detail,
.treatment-box .treatment-form .body .pill-remind .pill .pill-name .pill-dosage,
.treatment-box .treatment-form .body .pill-remind .pill .pill-name .pill-frequency {
    margin: 2%;
    padding: 1%;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 40px;
    background-color: #a3a3a3;
    color: white;
    font-size: 0.8vw;
    width: fit-content;
    display: flex;
    justify-content: center;
}

.treatment-box .treatment-form .body .pill-remind .pill .pill-name div {
    width: 80%;
    font-weight: 550;
}

.treatment-box .treatment-form .body .pill-remind .pill .pill-name button {
    width: 20%;
}

.treatment-box .treatment-form .body .pill-remind .pill div input {
    border: black dashed 1.9px;
    padding: 0.4vw;
    background-color: transparent;
    border-radius: 40px;
    width: 100%;
}

.treatment-box .treatment-form .body .pill-remind .pill .pill-name {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.treatment-box .treatment-form .body .pill-remind .pill .pill-name  button {
    border: none;
    padding: 0.3vw;
    margin: 0.2vw;
    background-color: #6e86ff;
    color: rgb(255, 255, 255);
    border-radius: 40px;
    font-weight: 500;
    font-size: 0.8vw;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
}

.treatment-box .treatment-form .body .pill-remind .pill .pill-name  button:hover {
    background-color: #4A67F3;
}

.treatment-box .treatment-form .body .pill-remind .pill .pill-name  button:active {
    background-color: #25399c;
}

.treatment-box .treatment-form .body .pill-remind .pill .drink-time .pill-time-slot {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 2%;
    margin-top: 2%;
    justify-content: space-between;
}

.treatment-box .treatment-form .body .pill-remind .pill .drink-time .pill-time-slot div {
    width: 38%;
    font-size: 1vw;
    display: flex;
    flex-direction: row;
}

.treatment-box .treatment-form .body .pill-remind .pill .drink-time .pill-time-slot div input {
    font-size: 1vw;
    width: 50%;
    margin-left: 6%;
}

.treatment-box .treatment-form .body .pill-remind .pill .drink-time .pill-time-slot div .pill-title {
    width: auto;
    font-size: 0.9vw;
    display: flex;
    align-items: center;
}

.treatment-box .treatment-form .body .pill-remind .pill .drink-time .pill-time-slot button {
    background-color: rgb(255, 121, 121);
    border: none;
    border-radius: 40px;
    width: 20%;
    margin-left: 5%;
    font-size: 0.8vw;
    color: white;
    font-weight: 550;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
}

.treatment-box .treatment-form .body .pill-remind .pill .drink-time .pill-time-slot button:hover {
    background-color: rgb(211, 78, 78);
}

.treatment-box .treatment-form .body .pill-remind .pill .drink-time .pill-note-input {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.treatment-box .treatment-form .body .pill-remind .pill .drink-time .pill-note-input > label{
    width: 30%;
    font-size: 0.9vw;
}

.treatment-box .treatment-form .body .pill-remind .pill .drink-time .pill-note-input > input{
    padding: 0.4vw;
    font-size: 0.9vw;
}

.treatment-box .treatment-form .body .pill-remind .pill .drink-time .pill-note-input > input::placeholder{
    font-size: 0.9vw;
}

.treatment-box .treatment-form .body .note-form {
    margin: 2%;
}

.treatment-box .treatment-form .body .note-form .title {
    font-size: 0.9vw;
    font-weight: 550;
    border: none;
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
    margin-bottom: 2%;
}

.treatment-box .treatment-form .body .note-form .detail {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 2%;
}

.treatment-box .treatment-form .body .note-form textarea {
    border: none;
    outline: none;
    width: 92%;
    background-color: transparent;
    margin: 1%;
    padding: 3%;
    border-radius: 5px;
    border: #000000 dashed 2px;
    overflow: hidden;
    resize: none;
}

.treatment-box .treatment-form .re-appointment .detail {
    padding: 2%;
    margin: 2%;
    border-radius: 5px;
    font-size: 1vw;
    border: 1.9px dashed rgb(0, 0, 0);
}

.treatment-box .treatment-form .re-appointment .detail .re-appointment-box {
    display: flex;
    padding: 1.5%;
    border-radius: 5px;
    margin: 1%;
    background-color: #f0f0f0;
    flex-direction: row;
}

.treatment-box .treatment-form .re-appointment .detail .re-appointment-box .re-appointment-title {
    width: 40%;
    font-weight: 550;
}

.treatment-box .treatment-form .re-appointment .detail .re-appointment-toggle{
    margin: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1vw;
    font-weight: 550;
}

.treatment-box .treatment-form .body .submit {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    padding: 2%;
    border: none;
    border-radius: 40px;
    background-color: #6e86ff;
    font-size: 1vw;
    font-weight: 550;
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: all 0.1s ease-in-out;
}

.treatment-box .treatment-form .body .submit:hover {
    background-color: #3b4991;
}